<section class="authors">

    <ul class="author">
        <li class="author-img">
            <img src="{{ basepath }}/resources/images/authors/Julian.png" class="img-circle rotate" alt="Julián Alonso" title="Julián Alonso" />
        </li>

        <li class="author-description">
            <h1> Julián Alonso </h1>
            <p>
                Desarrolador iOS y cinéfilo. Trato de desarrollar <a href="https://github.com/JulianAlonso/Jalver" target="blank">Jalver</a>, un pequeño proyecto open source para inyectar dependencias en swift.
            </p>
        </li>
    </ul>

</section>
