<section class="authors">

    <ul class="author">
        <li class="author-img">
            <img src="{{ basepath }}/resources/images/authors/Julian.png" class="img-circle rotate" alt="Julián Alonso" title="Julián Alonso" />
        </li>

        <li class="author-description">
            <h1> Julián Alonso </h1>
            <p>
                iOS Develper. Take a look to my code on <a href="https://github.com/JulianAlonso" target="blank"> Github </a>
            </p>
        </li>
    </ul>

</section>
