<footer>

    <div class="social-content">
        <ul>
            <li>
                <a href="mailto:julian.alonso.dev@gmail.com">
                    <img src="{{ basepath }}/resources/images/social-icons/mail.png" alt="mail" title="mail" class="social" />
                </a>
            </li>
            <li>
                <a href="https://github.com/JulianAlonso">
                    <img src="{{ basepath }}/resources/images/social-icons/git.png" alt="git" title="git" class="social" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/julianalonsocarballo">
                    <img src="{{ basepath }}/resources/images/social-icons/linkedin.png" alt="linkedin" title="linkedin" class="social" />
                </a>
            </li>
            <li>
            <a href="https://twitter.com/maisterjuli">
                <img src="{{ basepath }}/resources/images/social-icons/twitter.png" alt="twitter" title="twitter" class="social "/>
            </a>
            </li>
        </ul>
    </div>

    <hr class="line container" />

    <div class="footer-content">

        <span> <a href="/" class="noeffect">{ DIARIO DE PROGRAMACIÓN }</a> <br class="visible-xs" /> <span id="name">JULIÁN ALONSO</span> </span>

    </div>

</footer>
