---
layout: default
---
<!--
<section class="post">

        {% for post in site.posts %}
            <section class="post">

                <div class="post-header">
                    <a href="{{post.url}}" class="noeffect">
                        <h1> {{ post.title }} </h1>
                    </a>
                </div>

                <div class="post-description">

                    <div class="post-content">

                        {{ post.excerpt }}

                    </div>

                </div>
                <div class="read-more">
                    <a href="{{post.url}}" class="noeffect">
                        <span>SEGUIR LEYENDO <span class="glyphicon glyphicon-chevron-right rotate" aria-hidden="true"></span> </span>
                    </a>
                </div>
            </section>
        {% endfor %}

</section>

{% include author.html %}
-->
